<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>통계</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

    <style type="text/css">

        .waves-effect:hover {
            border: 1px solid #15c6e5;
            background-color: #2b2b36;
            transition: border-color 1s ease;
        }

    </style>
</head>

<body>

<ul id="slide-out" class="side-nav fixed z-depth-2" style="background-color: #2D2F36">
    <li class="center no-padding">
        <div class="indigo darken-2 white-text" style="height: 180px; background-color: #15c6e5">
            <div class="row" style="background: #33343f">
                <img id="myImage" style="margin-top: 10%; cursor: pointer;" width="75" height="75"
                     src="/assets/img/logo7.png"/>
                <p style="margin-top: -13%;">
                    <span style="color: #15c6e5">[[${userName}]]</span>님의 페이지
                </p>
            </div>
        </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="/main"><b>메인페이지로</b></a> </li>
    <li id="dash_dashboard2"><a class="waves-effect" href="/gazami7"><b>자세 모니터링</b></a> </li>
    <li id="dash_dashboard3"><a class="waves-effect" href="/main"><b>지도</b></a> </li>
    <li id="dash_dashboard4"><a class="waves-effect" href="/gazami9"><b>커뮤니티</b></a> </li>

</ul>
<header>


    <nav class="indigo" role="navigation">
        <div class="nav-wrapper">
            <img style="margin-top: 17px; margin-left: 5px;" src="/assets/img/chart.png"/>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
                </li>
            </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper indigo darken-3">
            <span style="color:#b2b2b2;">&nbsp;&nbsp;현재 페이지에서 당신의 기록을 확인할 수 있습니다.</span>
            <div style="margin-right: 20px;" id="timestamp" class="right"></div>
        </div>
    </nav>
</header>

<main>
    <div class="row">
        <div class="col s6" style="margin-right: -2.5rem">
            <div style="padding: 35px; position: relative;" align="center"
                 class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon" onclick="toggleInfo()" style="cursor: pointer">📣</span>
                    <div id="infoText" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>안녕하세요, 루미아 섬의 생존자 여러분!
                            11월 9일 신규 캐릭터 레니 출시 기념으로 쿠폰 이벤트가 시작됩니다.

                            다양한 선물을 준비했으니
                            이벤트를 확인하시고 기간 내 쿠폰을 꼭 사용해 주세요.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">오늘의
                            자세 점수</b>
                    </div>
                </div>

                <img src="/assets/img/bg3.png" alt="Posture Icon" style="height: 160px; margin-bottom: -30px">

                <div class="score">
                    <p style="font-size: 35px; font-weight: bold; color: #333;">[[${userName}]]님의 자세 점수: <span
                            id="scoreDisplay"
                            style="color: #0dcb2c;"></span>점</p>
                    <p style="font-size: 35px; font-weight: bold; color: #333; margin-top: -25px">전체 사용자 평균 점수: <span id="score2"
                                                                                                 style="color: #a8001d;">56</span>점
                    </p>
                </div>

                <p style="font-size: 20px; margin-top: 20px; color: #555;">
                    <span id="score4">사용자 평균 점수보다 12점 더 높습니다!</span><br><span id="score5"></span>
                </p>
            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center"
                 class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon2" onclick="toggleInfo2()" style="cursor: pointer">📣</span>
                    <div id="infoText2" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>안녕하세요, 루미아 섬의 생존자 여러분!
                            11월 9일 신규 캐릭터 레니 출시 기념으로 쿠폰 이벤트가 시작됩니다.

                            다양한 선물을 준비했으니
                            이벤트를 확인하시고 기간 내 쿠폰을 꼭 사용해 주세요.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">자세 모니터링 이용 시간</b>
                    </div>
                </div>

                <img src="/assets/img/turtle.png" alt="Posture Icon" style="height: 100px; margin-top: 55px; margin-bottom: -20px">

                <div class="score">
                    <p style="font-size: 40px; font-weight: bold; color: #333;">오늘의 서비스 이용 시간: <span id="score3"
                            style="color: #343434;"></span>
                    </p>
                </div>

                <p style="font-size: 20px; margin-top: 20px; color: #555;">
                    정기적인 자세 모니터링은 건강한 생활 습관을 유지하는 데 중요한 역할을 합니다.
                </p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6" style="margin-right: -2.5rem">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon3" onclick="toggleInfo3()" style="cursor: pointer">📣</span>
                    <div id="infoText3" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자세 모니터링 기능을 사용하는 동안 사용자가 거북목 자세와 올바른 자세로 있었던 시간을 비율로 나타냅니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            자세 분석 통계
                        </b>
                    </div>
                </div>
                <canvas class="pie-chart" width="400" height="300" id="pie">
                </canvas>
                <p style="font-size: 18px;">
                    개인별 정상/비정상 자세 통계값을 나타내는 그래프입니다
                </p>

            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon4" onclick="toggleInfo4()" style="cursor: pointer">📣</span>
                    <div id="infoText4" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>모든 사용자가 자세 모니터링 기능을 사용하는 동안<br>
                            거북목 자세와 올바른 자세로 있었던 시간을 비율로 나타냅니다.<br>
                            사용자들의 평균적인 통계를 알 수 있습니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            사용자 평균 자세 분석 통계
                        </b>
                    </div>
                </div>
                <canvas class="pie-chart" width="400" height="300" id="pie2">
                </canvas>
                <p style="font-size: 18px;">
                    전체 사용자 정상/비정상 자세 통계값을 나타내는 그래프입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6" style="margin-right: -2.5rem; margin-bottom: 1.6rem">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon5" onclick="toggleInfo5()" style="cursor: pointer">📣</span>
                    <div id="infoText5" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자세 모니터링을 사용하는 동안 모인 데이터를 주간별로 나타냅니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            주간 사용 통계
                        </b>
                    </div>
                </div>
                <canvas id="postureChart">
                </canvas>
                <p style="font-size: 18px;">
                    개인별 주간 사용 통계값을 나타내는 그래프입니다.
                </p>

            </div>
        </div>

        <div class="col s6" style="margin-bottom: 1.6rem">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon6" onclick="toggleInfo6()" style="cursor: pointer">📣</span>
                    <div id="infoText6" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자세 모니터링을 사용한 가장 최근 기록을 나타냅니다.<br>
                            기록은 측정시간을 다섯 구간으로 나누어 사용자가 어느 시점에서 주로 자세가 흐트러지는지 알 수 있습니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            시간별 사용 통계
                        </b>
                    </div>
                </div>
                <div style="height: 85%">
                    <canvas id="line">
                    </canvas>
                    <p style="font-size: 18px;">
                        전체 사용자별 주간 사용 통계값을 나타내는 그래프입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large pink waves-effect waves-light">
            <i class="large material-icons">account_circle</i>
        </a>

        <ul>
            <li>
                <a class="btn-floating light red"><i class="material-icons">home</i></a>
                <a href="" class="btn-floating fab-tip">메인페이지</a>
            </li>

            <li>
                <a class="btn-floating mint"><i class="material-icons">view_kanban</i></a>
                <a href="" class="btn-floating fab-tip">자세 모니터링</a>
            </li>

            <li>
                <a class="btn-floating green"><i class="material-icons">map</i></a>
                <a href="" class="btn-floating fab-tip">지도</a>
            </li>

            <li>
                <a class="btn-floating blue"><i class="material-icons">settings_accessibility</i></a>
                <a href="" class="btn-floating fab-tip">커뮤니티</a>
            </li>
        </ul>
    </div>

</main>

<footer class="indigo page-footer" style="margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">개인별 자세 평균 통계</h5>
                <ul id='credits'>
                    <li>
                        사용자의 자세 점수는 <a href="/guide1">거북목 측정</a> 과 <a href="/guide2">자세 모니터링</a>에서 추출한 점수이며
                    </li>
                    <li>
                        간단한 관찰 도구로써 사용될 수 있지만, 의학적 진단이나 전문적인 건강 상담을 대체할 수는 없습니다. <br/>
                        실제 거북목의 정도나 상태를 정확히 평가하려면 전문적인 검진이 필요할 수 있습니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>주변 병원 정보를 찾고싶으면 >>> <a style='font-weight: bold;' href="/main" target="_blank">병원 찾기</a></span>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var maxHeight = 0;
        $('.card').each(function () {
            if ($(this).height() > maxHeight) {
                maxHeight = $(this).height();
            }
        }).height(maxHeight);
    });

    $(document).ready(function () {
        $('.button-collapse').sideNav();
        $('.collapsible').collapsible();
        $('select').material_select();
    });

    document.getElementById('myImage').addEventListener('click', function () {
        window.location.href = '/main';
    });

    window.onload = function () {
        var hash = window.location.hash;
        if (hash && document.getElementById(hash.substring(1))) {
            document.getElementById(hash.substring(1)).scrollIntoView();
        }
    }

    function toggleInfo() {
        var infoDiv = document.getElementById("infoText");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo2() {
        var infoDiv = document.getElementById("infoText2");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo3() {
        var infoDiv = document.getElementById("infoText3");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo4() {
        var infoDiv = document.getElementById("infoText4");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo5() {
        var infoDiv = document.getElementById("infoText5");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo6() {
        var infoDiv = document.getElementById("infoText6");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const chartData = [[${chartData}]];
    /*]]>*/
    /*<![CDATA[*/
    const LinechartData = [[${LinechartData}]];
    /*]]>*/

    const dayMapping = {
        "Monday": "월요일",
        "Tuesday": "화요일",
        "Wednesday": "수요일",
        "Thursday": "목요일",
        "Friday": "금요일",
        "Saturday": "토요일",
        "Sunday": "일요일"
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
</script>
<script>
    const totalNormal = [[${rDTO.totalNormal}]];
    const totalAbnormal = [[${rDTO.totalAbnormal}]];
    const totalTime = [[${rDTO.totalTime}]];
    const totalNormal2 = [[${tDTO.totalNormal}]];
    const totalAbnormal2 = [[${tDTO.totalAbnormal}]];
    const labels = chartData.map(item => dayMapping[item.weekday]);
    const normalData = chartData.map(item => item.totalNormal);
    const abnormalData = chartData.map(item => item.totalAbnormal);

    document.addEventListener('DOMContentLoaded', (event) => {

        const scoreElement = document.getElementById('scoreDisplay');
        const endScore = Math.round(totalNormal * 100 / (totalAbnormal + totalNormal));// 설정한 최종 점수
        let currentScore = 1; // 시작 점수

        const timer = setInterval(() => {
            scoreElement.textContent = `${currentScore}`;
            if (currentScore < endScore) {
                currentScore++;
            } else {
                clearInterval(timer);
            }
        }, 30); // 숫자가 증가하는 속도를 조절 (밀리초 단위)

        const scoreElement2 = document.getElementById('score2');
        const endScore2 = Math.round(totalNormal2 * 100 / (totalAbnormal2 + totalNormal2)); // 설정한 최종 점수
        let currentScore2 = 1; // 시작 점수

        const timer2 = setInterval(() => {
            scoreElement2.textContent = `${currentScore2}`;
            if (currentScore2 < endScore2) {
                currentScore2++;
            } else {
                clearInterval(timer2);
            }
        }, 30); // 숫자가 증가하는 속도를 조절 (밀리초 단위)


        if (endScore >= 75) {
            scoreElement.style.color = "#25beee";
            document.getElementById("score5").innerHTML = `탁월한 자세를 유지하고 계십니다! 그 습관을 계속 유지해주세요!🤗`;
        } else if (endScore >= 50 && endScore < 75) {
            scoreElement.style.color = "#38e038"
            document.getElementById("score5").innerHTML = `조금만 더 주의를 기울이면 완벽한 자세를 유지할 수 있을 거예요.😊`;
        } else if (endScore >= 25 && endScore < 50) {
            scoreElement.style.color = "#ea8738"
            document.getElementById("score5").innerHTML = `자세 점수가 보통 수준이지만 더 개선될 여지가 있을 거에요!😉`;
        } else if (endScore >= 0 && endScore < 25) {
            scoreElement.style.color = "#d92622"
            document.getElementById("score5").innerHTML = `목을 허리에 가깝게 유지하고, 화면에 가까이 앉아 보세요. 허리에 부담이 가지 않도록 의자 높이를 조절해주세요.😞`;
        }

        if (endScore > endScore2) {
            const difference = endScore - endScore2;
            document.getElementById("score4").innerHTML = `자세 점수가 사용자 평균보다 ${difference}점 더 높습니다!`;
        } else if (endScore === endScore2) {
            document.getElementById("score4").innerHTML = "사용자 평균점수와 같은 자세 점수를 획득했습니다!";
        } else {
            const difference2 = endScore2 - endScore;
            document.getElementById("score4").innerHTML = `자세 점수가 사용자 평균보다 ${difference2}점 더 낮습니다!`;
        }


    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const scoreElement = document.getElementById('score3');
        const endScore = totalTime; // 설정한 최종 시간
        let currentScore = 1; // 시작 시간

        const timer = setInterval(() => {
            // 분과 초로 변환
            let minutes = Math.floor(currentScore / 60);
            let seconds = currentScore % 60;

            // 분과 초를 문자열로 형식화
            scoreElement.textContent = `${minutes}분 ${seconds}초`;

            if (currentScore < endScore) {
                currentScore++;
            } else {
                clearInterval(timer);
            }
        }, 5); // 숫자가 증가하는 속도를 조절 (밀리초 단위)
    });

</script>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>
