<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>통계</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

    <style type="text/css">
    </style>
</head>
<body>

<ul id="slide-out" class="side-nav fixed z-depth-2" style="background-color: #2D2F36">
    <li class="center no-padding">
        <div class="indigo darken-2 white-text" style="height: 180px; background-color: #15c6e5">
            <div class="row" style="background: #33343f">
                <img style="margin-top: 10%;" width="75" height="75" src="/assets/img/logo7.png"/>

                <p style="margin-top: -13%;">
                    <span style="color: #15c6e5">[[${userName}]]</span>님의 페이지
                </p>
            </div>
        </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="/main"><b>메인페이지로</b></a> </li>

    <ul class="collapsible" data-collapsible="accordion">
        <li id="dash_users">
            <div id="dash_users_header" class="collapsible-header waves-effect"><b>자세 모니터링</b></div>
            <div id="dash_users_body" class="collapsible-body">
                <ul>
                    <li id="users_seller">
                        <a class="waves-effect" style="text-decoration: none;" href="/guide2">가이드 영상</a>
                    </li>

                    <li id="users_customer">
                        <a class="waves-effect" style="text-decoration: none;" href="/monitoring">자세 모니터링</a>
                    </li>
                </ul>
            </div>
        </li>

        <li id="dash_products">
            <div id="dash_products_header" class="collapsible-header waves-effect"><b>지도</b></div>
            <div id="dash_products_body" class="collapsible-body">
                <ul>
                    <li id="products_product">
                        <a class="waves-effect" style="text-decoration: none;" href="/main">병원찾기</a>
                        <a class="waves-effect" style="text-decoration: none;" href="#!"> </a>
                    </li>
                </ul>
            </div>
        </li>

        <li id="dash_categories">
            <div id="dash_categories_header" class="collapsible-header waves-effect"><b>사용자</b></div>
            <div id="dash_categories_body" class="collapsible-body">
                <ul>
                    <li id="categories_category">
                        <a class="waves-effect" style="text-decoration: none;" href="/notice/noticeList">커뮤니티</a>
                    </li>

                    <li id="categories_sub_category">
                        <a class="waves-effect" style="text-decoration: none;" href="/user/profile">프로필</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</ul>
<header>


    <nav class="indigo" role="navigation">
        <div class="nav-wrapper">
            <img style="margin-top: 17px; margin-left: 5px;" src="/assets/img/chart.png"/>



            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper indigo darken-3">
            <span style="color:#b2b2b2;">&nbsp;&nbsp;현재 페이지에서 당신의 통계를 확인할 수 있습니다.</span>
            <div style="margin-right: 20px;" id="timestamp" class="right"></div>
        </div>
    </nav>
</header>

<main>
    <div class="row">
        <div class="col s6">
            <div style="padding: 35px; min-height: 352px; overflow: auto; background-color: #fdfdfd;" align="center"
                 class="card">
                <div class="row">
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #a8001d; display: inline-block; padding-bottom: 5px;">오늘의
                            자세 점수</b>
                    </div>
                </div>

                <img src="/assets/img/logo.png" alt="Posture Icon" style="height: 160px; margin-bottom: -30px">

                <div class="score">
                    <p style="font-size: 50px; font-weight: bold; color: #333;">[[${userName}]]님의 자세 점수: <span
                            style="color: #a8001d;">85</span>점</p>
                </div>

                <p style="font-size: 20px; margin-top: 20px; color: #555;">
                    잘 하고 있어요! 조금만 더 주의를 기울이면 완벽한 자세를 유지할 수 있을 거예요.
                </p>
            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px; min-height: 352px; overflow: auto; background-color: #fdfdfd;" align="center"
                 class="card">
                <div class="row">
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #a8001d; display: inline-block; padding-bottom: 5px;">사용자 평균 점수</b>
                    </div>
                </div>

                <img src="/assets/img/turtle.png" alt="Posture Icon" style="height: 160px; margin-bottom: -30px">

                <div class="score">
                    <p style="font-size: 50px; font-weight: bold; color: #333;">사용자 평균 점수: <span
                            style="color: #a8001d;">56</span>점</p>
                </div>

                <p style="font-size: 20px; margin-top: 20px; color: #555;">
                    전체 사용자들의 평균 자세 점수와 비교할 수 있습니다.
                </p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #a8001d; display: inline-block; padding-bottom: 5px;">
                            정상/비정상 자세 비율 통계
                        </b>
                    </div>
                </div>
                <canvas class="pie-chart" id="pie">
                </canvas>
                <p style="font-size: 18px;">
                    개인별 정상/비정상 자세 통계값을 나타내는 그래프입니다
                </p>

            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #a8001d; display: inline-block; padding-bottom: 5px;">
                            정상/비정상 자세 비율 전체 통계
                        </b>
                    </div>
                </div>
                <canvas class="pie-chart" id="pie2">
                </canvas>
                <p style="font-size: 18px;">
                    전체 사용자 정상/비정상 자세 통계값을 나타내는 그래프입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #a8001d; display: inline-block; padding-bottom: 5px;">
                            주간 사용 통계
                        </b>
                    </div>
                </div>
                <canvas id="postureChart">
                </canvas>
                <p style="font-size: 18px;">
                    개인별 주간 사용 통계값을 나타내는 그래프입니다.
                </p>

            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #a8001d; display: inline-block; padding-bottom: 5px;">
                            시간별 사용 통계
                        </b>
                    </div>
                </div>
                <div style="height: 85%">
                    <canvas id="line">
                    </canvas>
                    <p style="font-size: 18px;">
                        전체 사용자별 주간 사용 통계값을 나타내는 그래프입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large pink waves-effect waves-light">
            <i class="large material-icons">account_circle</i>
        </a>

        <ul>
            <li>
                <a class="btn-floating light red"><i class="material-icons">home</i></a>
                <a href="" class="btn-floating fab-tip">메인페이지</a>
            </li>

            <li>
                <a class="btn-floating mint"><i class="material-icons">view_kanban</i></a>
                <a href="" class="btn-floating fab-tip">자세 모니터링</a>
            </li>

            <li>
                <a class="btn-floating green"><i class="material-icons">map</i></a>
                <a href="" class="btn-floating fab-tip">지도</a>
            </li>

            <li>
                <a class="btn-floating blue"><i class="material-icons">settings_accessibility</i></a>
                <a href="" class="btn-floating fab-tip">커뮤니티</a>
            </li>
        </ul>
    </div>

</main>

<footer class="indigo page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">개인별 자세 평균 통계</h5>
                <ul id='credits'>
                    <li>
                        사용자의 자세 점수는 <a href="/guide1">거북목 측정</a> 과 <a href="/guide2">자세 모니터링</a>에서 추출한 점수이며
                    </li>
                    <li>
                        간단한 관찰 도구로써 사용될 수 있지만, 의학적 진단이나 전문적인 건강 상담을 대체할 수는 없습니다. <br/>
                        실제 거북목의 정도나 상태를 정확히 평가하려면 전문적인 검진이 필요할 수 있습니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>주변 병원 정보를 찾고싶으면 >>> <a style='font-weight: bold;' href="/main" target="_blank">병원 찾기</a></span>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var maxHeight = 0;
        $('.card').each(function () {
            if ($(this).height() > maxHeight) {
                maxHeight = $(this).height();
            }
        }).height(maxHeight);
    });

    $(document).ready(function () {
        $('.button-collapse').sideNav();
        $('.collapsible').collapsible();
        $('select').material_select();
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const chartData = [[${chartData}]];
    /*]]>*/
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
</script>
<script>
    const totalNormal = [[${rDTO.totalNormal}]];
    const totalAbnormal = [[${rDTO.totalAbnormal}]];
    const labels = chartData.map(item => item.weekday);
    const normalData = chartData.map(item => item.totalNormal);
    const abnormalData = chartData.map(item => item.totalAbnormal);
</script>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>