<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>통계</title>
    <link rel="icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style type="text/css">

        .waves-effect:hover {
            border: 1px solid #15c6e5;
            background-color: #2b2b36;
            transition: border-color 1s ease;
        }

    </style>
    <script>
        // DOMContentLoaded 이벤트 리스너를 추가합니다.
        document.addEventListener('DOMContentLoaded', function() {
            // 상수 totalTime을 정의합니다. 이 예제에서는 rDTO.totalTime 값을 사용합니다.
            const totalTime = [[${rDTO.totalTime}]];

            // totalTime이 null인지 확인합니다.
            if (totalTime === 0) {
                // 알림 창을 표시합니다.
                alert('오늘의 자세 모니터링 데이터가 없습니다.\n자세 모니터링 서비스를 먼저 이용해주세요!');

                // 메인 페이지로 리디렉션합니다.
                // 'mainPage.html'을 실제 메인 페이지의 URL로 교체하세요.
                window.location.href = '/main';
            }
        });

    </script>
</head>

<body>

<ul id="slide-out" class="side-nav fixed z-depth-2" style="background-color: #2D2F36">
    <li class="center no-padding">
        <div class="indigo darken-2 white-text" style="height: 180px; background-color: #15c6e5">
            <div class="row" style="background: #33343f">
                <img id="myImage" style="margin-top: 10%; cursor: pointer;" width="75" height="75"
                     src="/assets/img/logo7.png"/>
                <p style="margin-top: -13%;">
                    <span style="color: #15c6e5">[[${userName}]]</span>님의 페이지
                </p>
            </div>
        </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="/main"><b>메인페이지</b></a> </li>
    <li id="dash_dashboard2"><a class="waves-effect" href="/monitoring"><b>자세 모니터링</b></a> </li>
    <li id="dash_dashboard3"><a class="waves-effect" href="/redirect9"><b>병원 찾기</b></a> </li>
    <li id="dash_dashboard4"><a class="waves-effect" href="/redirect11"><b>커뮤니티</b></a> </li>
    <li id="dash_dashboard5"><a class="waves-effect" href="/user/turtle"><b>육성</b></a> </li>

</ul>
<header>


    <nav class="indigo" role="navigation">
        <div class="nav-wrapper">
            <img style="margin-top: 17px; margin-left: 5px;" src="/assets/img/chart.png"/>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class='right dropdown-button' href='/user/profile' data-activates='user_dropdown'><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                </li>
            </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper indigo darken-3">
            <span style="color:#b2b2b2;">&nbsp;&nbsp;현재 페이지에서 당신의 기록을 확인할 수 있습니다.</span>
            <div style="margin-right: 20px;" id="timestamp" class="right"></div>
        </div>
    </nav>
</header>

<main>
    <div class="row">
        <div class="col s6" style="margin-right: -2.5rem">
            <div style="padding: 35px; position: relative;" align="center"
                 class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon" onclick="toggleInfo()" style="cursor: pointer"><i class="fa fa-search-plus" style="color: #565656;" aria-hidden="true"></i></span>
                    <div id="infoText" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자신의 자세 점수와 전체 사용자들의 평균 점수를 확인할 수 있습니다.<br>자세 점수는 정상 자세의 정확도와 유지 시간을 기반으로 계산됩니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 오늘의 자세 점수</b>
                    </div>
                </div>

                <img src="/assets/img/bg3.png" alt="Posture Icon" style="height: 160px; margin-bottom: -30px">

                <div class="score">
                    <p style="font-size: 35px; font-weight: bold; color: #333;">[[${userName}]]님의 자세 점수: <span
                            id="scoreDisplay"
                            style="color: #0dcb2c;"></span>점</p>
                    <p style="font-size: 35px; font-weight: bold; color: #333; margin-top: -25px">전체 사용자 평균 점수: <span id="score2"
                                                                                                 style="color: #a8001d;"></span>점
                    </p>
                </div>

                <p style="font-size: 20px; margin-top: 20px; color: #555;">
                    <span id="score4"></span><br><span id="score5"></span>
                </p>
            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center"
                 class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon2" onclick="toggleInfo2()" style="cursor: pointer"><i class="fa fa-search-plus" style="color: #565656;" aria-hidden="true"></i></span>
                    <div id="infoText2" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자세 모니터링 서비스를 이용한 총 시간을 확인할 수 있습니다.<br>현재 정상 자세 포인트 보유량도 알 수 있습니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 자세 모니터링 이용 시간</b>
                    </div>
                </div>

                <img src="/assets/img/turtle.png" alt="Posture Icon" style="height: 100px; margin-top: 55px; margin-bottom: -20px">

                <div class="score">
                    <p style="font-size: 35px; font-weight: bold; color: #333;">오늘의 서비스 이용 시간: <span id="score3"
                            style="color: #343434;"></span>
                    </p>
                    <p style="font-size: 35px; font-weight: bold; color: #333; margin-top: -25px">획득한 포인트: <span id="score7"
                                                                                                                 style="color: #343434;">[[${Point.point}]]</span>포인트
                    </p>
                </div>

                <p style="font-size: 20px; margin-top: 20px; color: #555;">
                    정기적인 자세 모니터링은 건강한 생활 습관을 유지하는 데 중요한 역할을 합니다.
                </p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6" style="margin-right: -2.5rem">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon3" onclick="toggleInfo3()" style="cursor: pointer"><i class="fa fa-search-plus" style="color: #565656;" aria-hidden="true"></i></span>
                    <div id="infoText3" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자세 모니터링 기능을 사용하는 동안 사용자가 거북목 자세와 올바른 자세로 있었던 시간을 비율로 나타냅니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 자세 분석 통계
                        </b>
                    </div>
                </div>
                <canvas class="pie-chart" width="400" height="300" id="pie">
                </canvas>
                <p style="font-size: 18px;">
                    사용자의 정상/비정상 자세 통계값을 나타내는 그래프입니다.
                </p>

            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon4" onclick="toggleInfo4()" style="cursor: pointer"><i class="fa fa-search-plus" style="color: #565656;" aria-hidden="true"></i></span>
                    <div id="infoText4" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>모든 사용자가 자세 모니터링 기능을 사용하는 동안<br>
                            거북목 자세와 올바른 자세로 있었던 시간을 비율로 나타냅니다.<br>
                            사용자들의 평균적인 통계를 알 수 있습니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 사용자 평균 자세 분석 통계
                        </b>
                    </div>
                </div>
                <canvas class="pie-chart" width="400" height="300" id="pie2">
                </canvas>
                <p style="font-size: 18px;">
                    전체 사용자의 정상/비정상 자세 통계값을 나타내는 그래프입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6" style="margin-right: -2.5rem; margin-bottom: 1.6rem">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon5" onclick="toggleInfo5()" style="cursor: pointer"><i class="fa fa-search-plus" style="color: #565656;" aria-hidden="true"></i></span>
                    <div id="infoText5" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>자세 모니터링을 사용하는 동안 모인 데이터를 주간별로 나타냅니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 주간 사용 통계
                        </b>
                    </div>
                </div>
                <canvas id="postureChart">
                </canvas>
                <p style="font-size: 18px;">
                    사용자의 주간 사용 통계값을 나타내는 그래프입니다.
                </p>

            </div>
        </div>

        <div class="col s6" style="margin-bottom: 1.6rem">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <span class="emoticon" id="infoEmoticon6" onclick="toggleInfo6()" style="cursor: pointer"><i class="fa fa-search-plus" style="color: #565656;" aria-hidden="true"></i></span>
                    <div id="infoText6" class="infoBubble" style="display: none; margin-top: 20px; color: #555;">
                        <p>각 시간대별 정상 사용 시간의 비율을 보여주며,<br>어느 시간대에 자세 관리가 필요한지 명확히 파악할 수 있게 도와줍니다.</p>
                    </div>
                    <div class="left card-title">
                        <b style="color: #2b2b36; font-size: 24px; border-bottom: 2px solid #464646; display: inline-block; padding-bottom : 2px">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 시간별 사용 통계
                        </b>
                    </div>
                </div>
                <div style="height: 85%">
                    <canvas id="MinuteChart">
                    </canvas>
                    <canvas id="FiveChart" style="display: none">
                    </canvas>
                    <canvas id="timeUsageChart" style="display: none">
                    </canvas>
                    <p style="font-size: 18px;">
                        각 시간대에 따른 정상 자세 비율을 나타내는 그래프입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="indigo page-footer" style="margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <br>
                <h5 class="white-text">정상 자세를 유지하여 포인트를 획득하셨습니다!</h5>
                <ul id='credits'>
                    <li>
                        현재 [[${Point.userName}]]님이 보유하신 포인트는 [[${Point.point}]]포인트입니다.
                    </li>
                    <li>
                        이 포인트로 육성 페이지에서 거북이를 더 크고 건강하게 성장시켜 보세요.<br>
                        정상 자세를 지속적으로 유지하면 포인트가 계속 쌓여 거북이를 더욱 특별하게 키울 수 있습니다!
                        <br><br>
                        🐢 당신의 건강한 자세는 거북이의 성장에 큰 도움이 됩니다. 건강한 습관을 유지하며 함께 성장해 나가요! 🐢
                    </li>
                    <li>
                        <br>
                        <span><a style='font-weight: bold; color: #BCC2E2' href="/user/turtle">[육성 페이지로 이동하기]</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var maxHeight = 0;
        $('.card').each(function () {
            if ($(this).height() > maxHeight) {
                maxHeight = $(this).height();
            }
        }).height(maxHeight);
    });

    $(document).ready(function () {
        $('.button-collapse').sideNav();
        $('.collapsible').collapsible();
        $('select').material_select();
    });

    document.getElementById('myImage').addEventListener('click', function () {
        window.location.href = '/main';
    });

    window.onload = function () {
        var hash = window.location.hash;
        if (hash && document.getElementById(hash.substring(1))) {
            document.getElementById(hash.substring(1)).scrollIntoView();
        }
    }

    function toggleInfo() {
        var infoDiv = document.getElementById("infoText");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo2() {
        var infoDiv = document.getElementById("infoText2");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo3() {
        var infoDiv = document.getElementById("infoText3");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo4() {
        var infoDiv = document.getElementById("infoText4");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo5() {
        var infoDiv = document.getElementById("infoText5");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

    function toggleInfo6() {
        var infoDiv = document.getElementById("infoText6");
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
            infoDiv.style.height = "auto"; // 높이를 auto로 설정하여 내용에 맞게 조정
        } else {
            infoDiv.style.display = "none";
            infoDiv.style.height = "0"; // 다시 숨길 때 높이를 0으로 설정
        }
    }

</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const rList = [[${rList}]];
    /*]]>*/
    /*<![CDATA[*/
    const tList = [[${tList}]];
    /*]]>*/
    /*<![CDATA[*/
    const vList = [[${vList}]];
    document.addEventListener('DOMContentLoaded', function() {
        if (vList.length >= 16) {  //만약 사용자가 15분 이상 자세 모니터링을 했을 경우 분당 통계를 숨기고 5분당 통계를 표시
            document.getElementById('MinuteChart').style.display = 'none';
            document.getElementById('FiveChart').style.display = 'block';
        }
    });
    /*]]>*/
    /*<![CDATA[*/
    const jList = [[${jList}]];
    document.addEventListener('DOMContentLoaded', function() {
        if (jList.length >= 12) { //만약 사용자가 60분 이상 자세 모니터링을 했을 경우 5분당 통계를 숨기고 시간당 통계를 표시
            document.getElementById('MinuteChart').style.display = 'none';
            document.getElementById('FiveChart').style.display = 'none';
            document.getElementById('timeUsageChart').style.display = 'block';
        }
    });
    /*]]>*/
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
</script>
<script>
    const dayMapping = {
        "Monday": "월요일",
        "Tuesday": "화요일",
        "Wednesday": "수요일",
        "Thursday": "목요일",
        "Friday": "금요일",
        "Saturday": "토요일",
        "Sunday": "일요일"
    };
    const totalNormal = [[${rDTO.totalNormal}]];
    const totalAbnormal = [[${rDTO.totalAbnormal}]];
    const totalcount = [[${rDTO.totalAbnormal}]];
    const totalTime = [[${rDTO.totalTime}]];
    const totalNormal2 = [[${tDTO.totalNormal}]];
    const totalAbnormal2 = [[${tDTO.totalAbnormal}]];

    const labels = rList.map(item => dayMapping[item.weekday]);
    const normalData = rList.map(item => item.totalNormal);
    const abnormalData = rList.map(item => item.totalAbnormal);

    const labels2 = tList.map(item => {
        const splitString = item.checkTen.split(' ');
        return splitString[1];
    });
    const normalData2 = tList.map(item => item.totalNormalTime);
    const abnormalData2 = tList.map(item => item.totalAbnormalTime);

    const labels3 = vList.map(item => item.checkMinute.split(' ')[1]);
    const normalData3 = vList.map(item => item.totalNormalTime);
    const abnormalData3 = vList.map(item => item.totalAbnormalTime);

    const labels5 = jList.map(item => item.checkFive.split(' ')[1]);
    const normalData5 = jList.map(item => item.totalNormalTime);
    const abnormalData5 = jList.map(item => item.totalAbnormalTime);

    document.addEventListener('DOMContentLoaded', (event) => {

        const scoreElement = document.getElementById('scoreDisplay');
        const endScore = Math.round(totalNormal * 100 / (totalAbnormal + totalNormal));// 설정한 최종 점수
        let currentScore = 1; // 시작 점수

        const timer = setInterval(() => {
            scoreElement.textContent = `${currentScore}`;
            if (currentScore < endScore) {
                currentScore++;
            } else {
                clearInterval(timer);
            }
        }, 30); // 숫자가 증가하는 속도를 조절 (밀리초 단위)

        const scoreElement2 = document.getElementById('score2');
        const endScore2 = Math.round(totalNormal2 * 100 / (totalAbnormal2 + totalNormal2)); // 설정한 최종 점수
        let currentScore2 = 1; // 시작 점수

        const timer2 = setInterval(() => {
            scoreElement2.textContent = `${currentScore2}`;
            if (currentScore2 < endScore2) {
                currentScore2++;
            } else {
                clearInterval(timer2);
            }
        }, 30); // 숫자가 증가하는 속도를 조절 (밀리초 단위)

        if (endScore >= 75) {
            scoreElement.style.color = "#25beee";
            document.getElementById("score5").innerHTML = `탁월한 자세를 유지하고 계십니다! 그 습관을 계속 유지해주세요!🤗`;
        } else if (endScore >= 50 && endScore < 75) {
            scoreElement.style.color = "#38e038"
            document.getElementById("score5").innerHTML = `조금만 더 주의를 기울이면 완벽한 자세를 유지할 수 있을 거예요.😊`;
        } else if (endScore >= 25 && endScore < 50) {
            scoreElement.style.color = "#ea8738"
            document.getElementById("score5").innerHTML = `자세 점수가 보통 수준이지만 더 개선될 여지가 있을 거에요!😉`;
        } else if (endScore >= 0 && endScore < 25) {
            scoreElement.style.color = "#d92622"
            document.getElementById("score5").innerHTML = `목을 허리에 가깝게 유지하고, 화면에 가까이 앉아 보세요. 허리에 부담이 가지 않도록 의자 높이를 조절해주세요.😞`;
        }

        if (endScore > endScore2) {
            const difference = endScore - endScore2;
            document.getElementById("score4").innerHTML = `자세 점수가 사용자 평균보다 ${difference}점 더 높습니다!`;
        } else if (endScore === endScore2) {
            document.getElementById("score4").innerHTML = "사용자 평균점수와 같은 자세 점수를 획득했습니다!";
        } else {
            const difference2 = endScore2 - endScore;
            document.getElementById("score4").innerHTML = `자세 점수가 사용자 평균보다 ${difference2}점 더 낮습니다!`;
        }

    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const scoreElement = document.getElementById('score3');
        const endScore = totalTime; // 설정한 최종 시간
        let currentScore = 1; // 시작 시간

        // 분과 초로 변환
        let minutes = Math.floor(endScore / 60);
        let seconds = endScore % 60;

        // 분과 초를 문자열로 형식화
        scoreElement.textContent = `${minutes}분 ${seconds}초`;
    });

</script>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>
