/*
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
 */

/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Layout
 2.1 Animations
 2.2 Buttons
 2.3 Thumbnail - overide bootstrap thumbnail and add mased efect
 2.4 Socail icons -style for social icons list
3 Sections - definition for section and subsection
 3.1 Services
 3.2 Portfolio
 3.3 About
 3.4 Clients
 3.5 Price table
 3.6 Newsletter
 3.7 Contact
 3.8 Footer
4 Responsive 
**********************************************************************/

/*
1. General
**********************************************************************/
 body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}
a {
    color:#2b2b36;
    text-decoration: none;
}
a:hover {
    color: #15c6e5;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    color: #fff;
}
.navbar {
    background: #2b2b36;
    margin-bottom:0;
    min-height:70px;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
}
.navbar-inner {
    background: #2b2b36;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}
.navbar .brand img {
    width:170px;
    height:41px;
}
.navbar .nav > li > a {
    text-transform:uppercase;
    vertical-align: middle;
    margin:10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #2b2b36;
    box-shadow: none;
    font-size:15px;
    text-shadow: none;
    color: #fff;
    transition: border-color 1s ease;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid #15c6e5;
    color: #fff;
    background-color: #2b2b36;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills > li > a {
    cursor: pointer;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right:5px;
    padding-left:25px;
    padding-right:25px;
    border: 1px solid #2b2b36;
}
.nav-pills > li > a:hover {
    background: #2b2b36;
    color: #fff;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar {
    border-radius:0;
    background:#15c6e5;
    color: #000;
}
/******
2. Layout
**********************************************************************/
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
/* Use this class if you want ceter element with span* class */
 .center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.highlighted-box {
    background:#F4F8F9;
    padding:20px 30px;
}
.highlighted-box h1 {
    margin:0px;
}
.large-text {
    line-height:1.2em;
    font-size: 30px;
    color: #2b2b36;
    padding:20px;
    margin-bottom:20px;
}
.highlighted-box h1, .highlighted-box p {
    color: #2b2b36 !important;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:left;
}
.error {
    color: #CF0000;
    display: none;
}
.invisible {
    display:none;
    visibility:visible;
}
.triangle {
    margin: 0 auto;
    text-align:center;
    width: 0;
    height: 0;
    border-top: 30px solid #2b2b36;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}
/*
2.1 Animations
**********/
 .zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
 .button,  .button:visited, .button:focus {
    display:inline-block;
    border:1px solid #2b2b36;
    color:#2b2b36;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.button:hover, .button:active{
    background-color:#2b2b36;
    color:#fff;
}
.button-sp, .button-sp:visited, .button-sp:focus {
    border:none;
    background-color:#15c6e5;
    color:#2b2b36;
}
.button-sp:hover, .button-sp:active {
    background-color:#2b2b36;
    color:#15c6e5;
}
.button-ps, .button-ps:visited, .button-ps:focus {
    border:none;
    background-color:#2b2b36;
    color:#15c6e5;
}
.button-ps:hover, .button-ps:active {
    background-color:#15c6e5;
    color:#2b2b36;
}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #191a1c;
}
.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-100px;
    left:50%;
    margin:0 auto;
    margin-left:-41px;
    width:80px;
    height:80px;
    font-size:40px;
    color:#fff;
    text-decoration:none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
}
.thumbnail h3 {
    color: #15c6e5;
    margin-top:10px;
    font-size:20px;
}
.thumbnail > p {
    padding-bottom:20px;
}
.thumbnail .mask {
    opacity:0.85;
    filter: alpha(opacity=85);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#2b2b36;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}

.thumbnail.fadeInDown{
    width: auto;
    height : 300px;
    overflow: hidden; /* 넘치는 부분은 숨김 */
    white-space: nowrap; /* 줄 바꿈 금지 */
    text-overflow: ellipsis; /* 넘치는 텍스트는 ... 으로 대체 */
}
/*
2.4 Socail icons
************/
 .social {
    list-style: none;
    float: none;
    position:relative;
}
.social li {
    display:inline-block;
    line-height: 32px;
    font-family:'Porta';
    font-size: 32px;
    padding:0 5px;
}
.social li a {
    margin:0;
    padding:0;
    width:32px;
    height:32px;
    color: #15c6e5;
}
.social li a:hover {
    color:#2b2b36;
}
/*
3. Sections 
***************************************************************************/
 .section {
    padding-bottom: 50px;
}
.section .container {
    padding-top:50px;
}
.title {
    text-align: center;
    padding:10px;
    margin-bottom: 30px;
}
.title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.title > p {
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}
.primary-section {
    background:#2b2b36;
}
.primary-section .triangle {
    border-top: 40px solid #15c6e5;
}
.primary-section .title {
    border-bottom: 1px solid #FFF;
}
.primary-section, .primary-section .title p, .primary-section h3 {
    color: #15c6e5;
}
.primary-section h1 {
    color:#FFF;
}
.secondary-section {
    background:#15c6e5;
}
.secondary-section .title {
    border-bottom: 1px solid #2b2b36;
}
.secondary-section h1, .secondary-section .title p {
    color: #2b2b36;
}
/* Third section use bacground image */
.third-section {
    padding-bottom: 70px;
    border-top:3px solid #15c6e5;
}
.third-section .container {
    padding-top:20px;
    position:relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: #15c6e5;
}
.sub-section {
    margin-top:30px;
}
.sub-section .title {
    padding:0;
}
/*******
3.1 Services  
***************************************/
.service{
    margin-top:20px;
}
 .service, .service h2 {
    padding-top:15px;
}
.service p {
    padding:0px 50px;
    height:60px;
}
.service img {
    width:150px;
    height:150px;
}
/*
3.2 Portfolio
***************************************/
 .single-project {
    margin-bottom:30px;
    background:#2b2b36;
}
.single-project img {
    width:100%;
}
.project-description {
    padding-right:20px;
}
.project-description p {
    padding-left:0;
}
.project-title {
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #15c6e5;
}
.project-title h3 {
    float:left;
    margin-top:0;
    padding:0;
    width:80%;
}
.project-title .close {
    color: #15c6e5;
    margin-top:10px;
}
.project-info span, .project-title h3 {
    color:#15c6e5;
}
.project-info {
    font-weight:100;
    padding:10px 0;
}
.project-info span {
    width: 80px;
    display: inline-block;
}
.project-info div {
    margin-bottom:5px;
}
.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#portfolio-grid .mix {
    display: none;
}
/*
3.3 About
******************************************************************/
 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color:#fff;
}
.team .thumbnail .mask {
    background: #15c6e5;
}
.team .thumbnail .mask h2 {
    margin-top:20%;
}
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
    color:#181A17;
}
.about-text {
    margin-top:30px;
}
.about-text p {
    padding:0;
    font-size:16px;
}
/*********************************************************************
                        SKILLS BAR
*********************************************************************/
 .skills {
    list-style-type: none;
    position: relative;
    margin:0px;
}
.skills li {
    margin-bottom:30px;
    background:#FFF;
    height:40px;
    padding:1px;
}
.skills li h3 {
    position: relative;
    font-size: 15px;
    padding:0;
    margin:0;
    left: 10px;
    z-index: 1;
    color: #2b2b36;
}
.skills li .bar {
    height:40px;
    position:absolute;
    background-color: #15c6e5;
}
/*
3.4 Clients
**********************************************************************/
 .client-slider img {
    border:1px solid white;
}
.client-slider img:hover {
    background-color:#15c6e5;
}
.client-nav {
    list-style:none;
    margin-top:10px;
}
.client-nav li {
    float:left;
    display:block;
    margin-left:10px;
}
.client-nav li a {
    display:inherit;
    padding:5px;
    background:#15c6e5;
    border-radius:3px;
    width:20px;
    height:20px;
}
.client-nav li a:hover {
    background:#2b2b36;
}
.testimonial p {
    color:#2b2b36;
    background:#15c6e5;
    padding:15px;
    margin:0;
}
.testimonial .arrow {
    margin-left:10px;
    width:0;
    border-top:10px solid #15c6e5;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}
.testimonial .whopic {
    display:inline-block;
}
.testimonial .whopic img {
    margin-top:10px;
    width:50px;
    height:50px;
    float:left;
}
.testimonial .whopic strong {
    float:left;
    margin-top:10px;
    padding-left:10px;
}
.testimonial .whopic small {
    display:block;
    font-size:12px;
    
}
.testimonial-text{
    display:block;
    font-size:22px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    width:70%;
    line-height:1.3em;
}
/*
3.5 Price table
******************************************************************/
 .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}
.price-column {
    background-color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.price-column h3 {
    background-color:#2b2b36;
    text-transform:uppercase;
    text-align: center;
    color:#15c6e5;
    padding:40px 0px;
    font-size: 36px;
    margin-top:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-column .list{
    list-style:none;
    margin:20px 50px;
}
.price-column .list li{
    font-weight:lighter;
    color:#747C89;
    font-size:20px;
    border-bottom:1px solid #747C89;
    padding:25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size:31px;
    background-color:white;
    color:#747C89;
    margin-top:25px;
}
.price-text{
    margin:30px 0 20px;
    font-size:20px;
    color: #2b2b36;
    font-weight:normal;
}
/*
3.6 Newsletter
********************************************************************/
 .newsletter, .newsletter h2 {
    color: #D7DDDE;
}
.newsletter .title h2 {
    text-align:left;
    padding:0;
    margin:0;
}
.newsletter form {
    text-align:right;
}
.newsletter input {
    margin-top:10px;
    padding:15px;
    height: auto;
}
.newsletter button {
    margin: 0 0 0 20px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color:#FFF;
    color:#2b2b36;
}

/*
3.7 Contact
********************************************************************/
 .contact {
    background: #15c6e5;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #2b2b36;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:500px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}
.contact .social {
    display: inline-block;
    margin-left:0;
}
.contact .social li {
    line-height: 32px;
    padding:10px 10px;
    font-family:'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.contact .social li a {
    color:#fff;
}
.contact .social li a:hover {
    color:#2b2b36;
}
.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:110;
    position:relative;
    margin-top:-25px;
    padding:20px;
}
.contact-form h3 {
    color:#838589;
    padding-bottom:20px;
}
.message-btn {
    border:1px solid #747C89;
    color:#747C89;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.message-btn:hover {
    background-color:#15c6e5;
}
.contact-info {
    text-align:center;
    font-size:22px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#2b2b36;
}
.black {
    color:#2b2b36;
}
/*
3.8 Footer
********************************************************************/
 .footer {
    background: #2b2b36;
    text-align: center;
}
.footer > p {
    color: #fff;
    margin:0;
}

.footer a{
    color:#15c6e5;
}

.footer a:hover, .footer a:focus{

}
.scrollup {
    text-align:center;
    cursor:pointer;
    vertical-align:middle;
    width:39px;
    height:39px;
    border-radius:5px;
    font-size:20px;
    position:fixed;
    bottom:30px;
    right:20px;
	border:1px solid #fff;
    display:none;
    background: #15c6e5;
}
.scrollup > a {
    position:relative;
    top:7px;
    color:#fff;
}
/*
4 Responsible
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }
}
@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
        white-space: nowrap;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }
}

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NIXGONM-Vb';
}

.form button a {
    font-family: 'NIXGONM-Vb';
    font-weight: 500;
    color: #515264;
    text-decoration: none;
    font-size: 37px;
    text-align: center;
    letter-spacing: 1px;
}

.feature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    border: 1px solid #ccc;
    flex: 1 1 calc(33.333% - 20px); /* flex-grow, flex-shrink 및 flex-basis 설정 */
    margin: 10px; /* 각 feature 사이의 간격 */
    box-sizing: border-box;
    /* 기타 스타일 */
}

.icon {
    font-size: 2em;
}

@media (max-width: 768px) {
    .feature {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .feature {
        width: 100%;
    }
}

.feature:hover {
    transform: translateY(-5px);
}

.username-color {
    color: #15c6e5;
}

#address::placeholder {
    font-family: 'NIXGONM-Vb';
    color: #454654;
}

.info-window {
    padding: 10px; /* 패딩을 조금 더 넉넉하게 줍니다 */
    font-size: 14px; /* 글씨 크기를 조금 더 크게 합니다 */
    color: #fff; /* 글씨 색상을 흰색으로 변경하여 대비를 높입니다 */
    background-color: #2b2b36; /* 배경 색상은 그대로 유지합니다 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과를 추가하여 입체감을 줍니다 */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 글씨에 약간의 텍스트 그림자를 추가합니다 */
    line-height: 1.4; /* 줄 간격을 조금 더 넓게 합니다 */
    transition: all 0.3s ease; /* 스타일 변경에 애니메이션 효과를 적용합니다 */
    width: 250px;
}

/* 호버 효과를 위한 추가 CSS */
.info-window:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* 그림자를 조금 더 진하게 합니다 */
}

.info-window h4 {
    margin-top: 0;
    font-size: 14px;
}

.centered {
    text-align: center;
}

.large-text {
    font-size: 24px !important; /* 여기서 !important를 사용하여 우선순위를 높입니다. */
    font-weight: bold;
    color: #ffffff;
}

button {
    font-family: 'NIXGONM-Vb';
    padding: 6px 20px; /* padding 값을 조정하여 버튼 크기를 줄입니다 */
    font-size: 14px; /* font-size 값을 조정하여 글꼴 크기를 줄입니다 */
    margin-top: -9.5px;
    border: none;
    background-color: #15c6e5;
    color: #2b2b36;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #10a6c0; /* 새로운 배경색 */
}

#portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

#portfolio-grid .mix {
    display: flex;
    flex-direction: column;
    margin: 10px; /* 각 항목 사이의 여백을 조정합니다. */
}

.thumbnail {
    display: flex;
    flex-direction: column;
    height: 100%; /* 부모 컨테이너에 맞춰 높이를 100%로 설정합니다. */
}

.thumbnail iframe {
    flex: 0 0 auto; /* iframe의 크기가 변경되지 않도록 설정합니다. */
}

.thumbnail h3 {
    flex-grow: 1; /* 제목이 남은 공간을 채우도록 설정합니다. */
}

.thumbnail p {
    flex: 0 0 auto; /* 본문 텍스트의 크기가 변경되지 않도록 설정합니다. */
}
