<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author : GraphBerry
 * Author URL : http://graphberry.com
 * License : http://graphberry.com/pages/license
-->
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <!-- Load Roboto font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
    <!-- Load css styles -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/pluton.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css"/>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/jquery.cslider.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="images/ico/favicon.ico">

    <script>
        var map;

        function searchHospital() {
            var keyword = document.getElementById('address').value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('장소를 입력해주세요.');
                return false;
            }

            // 키워드로 장소를 검색합니다
            var places = new kakao.maps.services.Places();

            places.keywordSearch(keyword, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    // 가장 첫 번째 검색 결과의 좌표를 사용합니다
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 지도의 중심을 이동합니다
                    map.setCenter(coords);

                    // 해당 좌표를 기준으로 주변 병원을 검색합니다
                    searchPlaces(coords);
                } else {
                    alert('검색 결과가 없습니다.');
                }
            });
        }

        // 키워드 검색을 실행하는 함수입니다
        function searchPlaces(coords) {
            var keyword = '병원';

            var places = new kakao.maps.services.Places();

            var callback = function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    displayPlaces(result);
                }
            };

            places.keywordSearch(keyword, callback, {
                location: coords
            });
        }

        // 검색 결과를 지도에 표시하는 함수입니다
        function displayPlaces(places) {

            var bounds = new kakao.maps.LatLngBounds();

            for (var i = 0; i < places.length; i++) {
                displayMarker(places[i]);
                bounds.extend(new kakao.maps.LatLng(places[i].y, places[i].x));
            }

            map.setBounds(bounds);
        }

        // 마커를 지도에 표시하는 함수입니다
        function displayMarker(place) {
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                // 마커 클릭 시 인포윈도우에 표시될 내용을 만듭니다
                var content = '<div class="info-window">' + '<img src="/assets/img/turtle.png" width="20%" height="20%" alt=" ">' +
                    '<h4 style="color: #89ee37">' + place.place_name + '</h4>' +
                    '<p>' + '주소: ' + (place.road_address_name || place.address_name) + '</p>' +
                    (place.phone ? '<p>' + '전화번호: ' + place.phone + '</p>' : '') +
                    '<a href="' + place.place_url + '" target="_blank" style="color: #15c6e5; text-decoration: underline;">상세보기</a>' + // 카카오 지도 장소 상세 페이지 링크
                    '</div>';

                var infowindow = new kakao.maps.InfoWindow({
                    content: content,
                    removable: true
                });
                infowindow.open(map, marker);
            });
        }

        // 지도를 생성합니다
        function initMap() {
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            map = new kakao.maps.Map(mapContainer, mapOption);
        }

        // 문서가 로드될 때 지도를 초기화합니다
        window.onload = function () {
            initMap();
        }

    </script>

</head>
<!--    <audio id="myAudio" autoplay>-->
<!--        <source src="/assets/img/main.mp3" type="audio/mpeg">-->
<!--        Your browser does not support the audio element.-->
<!--    </audio>-->
<style>
    #address::placeholder {
        font-family: 'NIXGONM-Vb';
        color: #454654;
    }

    .info-window {
        padding: 10px; /* 패딩을 조금 더 넉넉하게 줍니다 */
        font-size: 14px; /* 글씨 크기를 조금 더 크게 합니다 */
        color: #fff; /* 글씨 색상을 흰색으로 변경하여 대비를 높입니다 */
        background-color: #33343f; /* 배경 색상은 그대로 유지합니다 */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과를 추가하여 입체감을 줍니다 */
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 글씨에 약간의 텍스트 그림자를 추가합니다 */
        line-height: 1.4; /* 줄 간격을 조금 더 넓게 합니다 */
        transition: all 0.3s ease; /* 스타일 변경에 애니메이션 효과를 적용합니다 */
        width: 250px;
    }

    /* 호버 효과를 위한 추가 CSS */
    .info-window:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* 그림자를 조금 더 진하게 합니다 */
    }

    .info-window h4 {
        margin-top: 0;
        font-size: 14px;
    }

    .centered {
        text-align: center;
    }

    .large-text {
        font-size: 24px !important; /* 여기서 !important를 사용하여 우선순위를 높입니다. */
        font-weight: bold;
        color: #ffffff;
    }

    button {
        font-family: 'NIXGONM-Vb';
        padding: 6px 20px; /* padding 값을 조정하여 버튼 크기를 줄입니다 */
        font-size: 14px; /* font-size 값을 조정하여 글꼴 크기를 줄입니다 */
        margin-top: -9.5px;
        border: none;
        background-color: #15c6e5;
        color: #2b2b36;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #10a6c0; /* 새로운 배경색 */
    }

</style>
<style>
    @font-face {
        font-family: 'NIXGONM-Vb';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: 'NIXGONM-Vb';
    }

    .form button a {
        font-family: 'NIXGONM-Vb';
        font-weight: 500;
        color: #515264;
        text-decoration: none;
        font-size: 37px;
        text-align: center;
        letter-spacing: 1px;
    }

    .feature-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature {
        border: 1px solid #ccc;
        flex: 1 1 calc(33.333% - 20px); /* flex-grow, flex-shrink 및 flex-basis 설정 */
        margin: 10px; /* 각 feature 사이의 간격 */
        box-sizing: border-box;
        /* 기타 스타일 */
    }

    .icon {
        font-size: 2em;
    }

    @media (max-width: 768px) {
        .feature {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 480px) {
        .feature {
            width: 100%;
        }
    }

    .feature:hover {
        transform: translateY(-5px);
    }

    .username-color {
        color: #15c6e5;
    }
</style>

<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">
                <img src="/assets/img/logo3.png" width="170" height="41" alt="Logo">
                <!-- This is website logo -->
            </a>
            <!-- Navigation button, visible on small resolution -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <img src="/assets/img/logo5.png" width="30" height="30" alt="Logo">
            </button>
            <!-- Main navigation -->
            <div class="nav-collapse collapse pull-right">
                <ul class="nav" id="top-navigation">
                    <li class="active"><a href="#home">메인 페이지</a></li>
                    <li><a href="/gazami6">거북목 진단</a></li>
                    <li><a href="/gazami7">자세 모니터링</a></li>
                    <li><a href="/chart">통계</a></li>
                    <li><a href="/notice/noticeList">커뮤니티</a></li>
                    <li><a href="/gazami3">프로필</a></li>
                    <li><span>&nbsp;&nbsp;</span></li>
                    <li><a href=""><span class="username-color">[[${userName}]]</span>님, 환영합니다!</a></li>
                </ul>
            </div>
            <!-- End main navigation -->
        </div>
    </div>
</div>
<!-- Start home section -->
<div id="home">
    <!-- Start cSlider -->
    <div id="da-slider" class="da-slider">
        <div class="triangle"></div>
        <!-- mask elemet use for masking background image -->
        <div class="mask"></div>
        <!-- All slides centred in container element -->
        <div class="container">
            <!-- Start first slide -->
            <div class="da-slide">
                <h2 class="fittext2">프로젝트 주요 대상</h2>
                <h4>사무실 근무자</h4>
                <p>해당 서비스는 긴 작업 시간으로 인해 자주 거북목과 같은 자세 문제에 직면하는 사무실 근무자들에게 특히 유용하며,
                    자세 문제를 예방하고 건강을 증진시켜 업무 효율을 높일 수 있음</p>
                <a href="/guide1" class="da-link button">진단하러 가기</a>
                <div class="da-img">
                    <img src="/assets/img/logo2.png" alt="image01" width="320">
                </div>
            </div>
            <!-- End first slide -->
            <!-- Start second slide -->
            <div class="da-slide">
                <h2>자세 모니터링 소개</h2>
                <h4>학생</h4>
                <p>공부 시간 동안 자세를 유지하는 것이 어려울 때, 이 서비스를 활용해 자세를 지속적으로 교정하고
                    시각적 알림과 개인화된 운동 루틴을 통해 학생들은 더 편안하고 건강한 학습 환경을 만들 수 있음</p>
                <a href="/guide2" class="da-link button">측정하러 가기</a>
                <div class="da-img">
                    <img src="/assets/img/logo3.png" width="320" alt="image02">
                </div>
            </div>
            <!-- End second slide -->
            <!-- Start third slide -->
            <div class="da-slide">
                <h2>통계 소개</h2>
                <h4>고령층</h4>
                <p>해당 서비스를 통해 노인들의 자세를 개선하고 척추 관련 건강 문제를 예방할 수 있음. 사용하기 쉬운 인터페이스와 명확한 시각적 알림을 통해
                    노인들도 쉽게 자세를 교정하고 건강을 유지할 수 있음</p>
                <a href="/chart" class="da-link button">통계보러 가기</a>
                <div class="da-img">
                    <img src="/assets/img/logo.png" width="320" alt="image03">
                </div>
            </div>
            <!-- Start third slide -->
            <!-- Start cSlide navigation arrows -->
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
            <!-- End cSlide navigation arrows -->
        </div>
    </div>
</div>
<!-- End home section -->
<!-- Service section start -->
<div class="section primary-section" id="service">
    <div class="container">
        <!-- Start title section -->
        <div class="title">
            <h1>머신러닝 기반 거북목 개선 프로젝트</h1>
            <!-- Section's title goes here -->
            <p>건강한 자세, AI로부터의 도움을 받으세요.</p>
            <!--Simple description for section goes here. -->
        </div>

        <div class="row-fluid">
            <div class="container">
                <p style="text-align: center; margin-top: -30px; margin-bottom: 30px; font-size: 30px">주요 기능</p>
                <div class="feature-grid">
                    <!-- 첫 번째 행의 기능들 -->
                    <div class="feature" style="position: relative; overflow: hidden; transition: transform 0.3s ease;">
                        <span class="icon" style="position: absolute; top: 10px;">🐢</span>
                        <h2 style="font-size: 22px; text-align: center; padding-top: 40px; transition: transform 0.3s ease;">거북목 진단</h2>

                        <p style="text-align: center; transition: transform 0.3s ease;">거북목 진단을 통해 당신의 거북목 상태를 체크하세요. 거북목 정도에 따른 등급을 확인할 수 있습니다.</p>
                        <br><br>
                    </div>
                    <div class="feature" style="position: relative; overflow: hidden; transition: transform 0.3s ease;">
                        <span class="icon" style="position: absolute; top: 10px;">🎥</span>
                        <h2 style="font-size: 22px; text-align: center; padding-top: 40px; transition: transform 0.3s ease;">자세 모니터링</h2>
                        <p style="text-align: center; transition: transform 0.3s ease;">거북목 진단을 통해 당신의 거북목 상태를 체크하세요. 거북목 정도에 따른 등급을 확인할 수 있습니다.</p>
                    </div>
                    <div class="feature" style="position: relative; overflow: hidden; transition: transform 0.3s ease;">
                        <span class="icon" style="position: absolute; top: 10px;">📊</span>
                        <h2 style="font-size: 22px; text-align: center; padding-top: 40px; transition: transform 0.3s ease;">통계</h2>
                        <p style="text-align: center; transition: transform 0.3s ease;">거북목 진단을 통해 당신의 거북목 상태를 체크하세요. 거북목 정도에 따른 등급을 확인할 수 있습니다.</p>
                    </div>
                    <div class="feature" style="position: relative; overflow: hidden; transition: transform 0.3s ease;">
                        <span class="icon" style="position: absolute; top: 10px;">🗾</span>
                        <h2 style="font-size: 22px; text-align: center; padding-top: 40px; transition: transform 0.3s ease;">지도</h2>
                        <p style="text-align: center; transition: transform 0.3s ease;">거북목 진단을 통해 당신의 거북목 상태를 체크하세요. 거북목 정도에 따른 등급을 확인할 수 있습니다.</p>
                        <br><br>
                    </div>
                    <div class="feature" style="position: relative; overflow: hidden; transition: transform 0.3s ease;">
                        <span class="icon" style="position: absolute; top: 10px;">🩺</span>
                        <h2 style="font-size: 22px; text-align: center; padding-top: 40px; transition: transform 0.3s ease;">거북목 개선 팁</h2>
                        <p style="text-align: center; transition: transform 0.3s ease;">거북목 진단을 통해 당신의 거북목 상태를 체크하세요. 거북목 정도에 따른 등급을 확인할 수 있습니다.</p>
                    </div>
                    <div class="feature" style="position: relative; overflow: hidden; transition: transform 0.3s ease;">
                        <span class="icon" style="position: absolute; top: 10px;">📋</span>
                        <h2 style="font-size: 22px; text-align: center; padding-top: 40px; transition: transform 0.3s ease;">커뮤니티</h2>
                        <p style="text-align: center; transition: transform 0.3s ease;">거북목 진단을 통해 당신의 거북목 상태를 체크하세요. 거북목 정도에 따른 등급을 확인할 수 있습니다.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="black-section"></div>
<!-- Service section end -->
<!-- Portfolio section start -->
<div class="section secondary-section " id="portfolio">

    <div class="triangle"></div>
    <div class="container">
        <div class=" title">
            <h1>거북목 개선 관련 추천 영상</h1>
        </div>
        <!-- Start details for portfolio project 1 -->
        <div id="single-project">
            <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/EksV9sxWXHw?si=GiNtGjLtMIbZCXME"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>거북목 스트레칭</h3>
                            <span class="show_hide close">
                                    </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Client</span>ㅇ
                            </div>
                            <div>
                                <span>Date</span>July 2013
                            </div>
                            <div>
                                <span>Skills</span>HTML5, CSS3, JavaScript
                            </div>
                            <div>
                                <span>Link</span>http://examplecomp.com
                            </div>
                        </div>
                        <p>ㅇㅇ</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 1 -->
            <!-- Start details for portfolio project 2 -->
            <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="images/Portfolio02.png" alt="project 2">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Webste for Some Client</h3>
                            <span class="show_hide close">
                                    </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Client</span>Some Client Name
                            </div>
                            <div>
                                <span>Date</span>July 2013
                            </div>
                            <div>
                                <span>Skills</span>HTML5, CSS3, JavaScript
                            </div>
                            <div>
                                <span>Link</span>http://examplecomp.com
                            </div>
                        </div>
                        <p>Life is a song - sing it. Life is a game - play it. Life is a challenge - meet it. Life
                            is a
                            dream - realize it. Life is a sacrifice - offer it. Life is love - enjoy it.</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 2 -->
            <!-- Start details for portfolio project 3 -->
            <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="images/Portfolio03.png" alt="project 3">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Webste for Some Client</h3>
                            <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Client</span>Some Client Name
                            </div>
                            <div>
                                <span>Date</span>July 2013
                            </div>
                            <div>
                                <span>Skills</span>HTML5, CSS3, JavaScript
                            </div>
                            <div>
                                <span>Link</span>http://examplecomp.com
                            </div>
                        </div>
                        <p>How far you go in life depends on your being tender with the young, compassionate with
                            the
                            aged, sympathetic with the striving and tolerant of the weak and strong. Because someday
                            in
                            your life you will have been all of these.</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 3 -->

            <ul id="portfolio-grid" class="thumbnails row">
                <li class="span4 mix web">
                    <div class="thumbnail">
                        <iframe width="370" height="110"
                                src="https://www.youtube.com/embed/EksV9sxWXHw?si=GiNtGjLtMIbZCXME"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                        <h3>목 디스크를 막는 간단한 거북목 치료방법</h3>
                        <p>목 디스크 운동</p>

                    </div>
                </li>
                <li class="span4 mix photo">
                    <div class="thumbnail">
                        <iframe width="370" height="110"
                                src="https://www.youtube.com/embed/kgCj8UUEWjU?si=K1BdZ5BZ_IbaOPYs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>거북목 스트레칭</h3>
                        <p>운동 가이드</p>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix identity">
                    <div class="thumbnail">
                        <iframe width="370" height="110"
                                src="https://www.youtube.com/embed/L2y1AgXgnhM?si=O-jEgmndqOkc-yuC"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv2">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>거북목 한달 교정 프로젝트</h3>
                        <p>거북목 교정법</p>
                        <div class="mask"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Portfolio section end -->
<!-- About us section start -->

<div class="section primary-section">
    <div class="triangle"></div>
    <div class="container">
        <div class="title">
            <h1>병원 찾기</h1>
        </div>
        <div class="container centered" style="padding-top: 5px">
            <p style="color: #ffffff;">거북목이 현대 사회에서 흔한 문제가 되어가는 가운데, 저희는 이 문제에 직면한 수많은 사람들을 돕고자 하는 사명을 띄고 프로젝트를
                시작했습니다.<br>
                이 프로젝트의 목표는 건강한 생활 습관을 증진시키고, 거북목이라는 일상적인 문제에 대한 솔루션을 제공함으로써 수많은 사람들의 삶을 변화시키는 것입니다.</p>
        </div>
        <br>
        <label for="address"></label><input type="text" id="address" name="address" class="span8"
                                            style="font-family: NIXGONM-Vb" placeholder="당신의 주소를 입력해주세요."
                                            required="">
        <button onclick="searchHospital()">병원 찾기</button>
        <div class="map-wrapper">
            <div class="map-canvas" id="map-canvas">Loading map...</div>
            <div id="map" style="width:100%;height:600px;border:1px solid #ffffff"></div>
        </div>
    </div>
</div>
<div class="black-section"></div>
<div class="black-section"></div>

<div class="section primary-section" id="about">

    <div class="container">
        <div class="title">
            <h1>서비스 주요 이용대상</h1>
            <p>건강한 자세, AI로부터의 도움을 받으세요.</p>
        </div>

<div class="row-fluid team">
    <div id="clients">
        <div class="section primary-section">
            <div class="container">

                <div class="row">
                    <div class="span4">
                        <div class="testimonial">
                            <p>해당 서비스는 긴 작업 시간으로 인해 자주 거북목과 같은 자세 문제에 직면하는 사무실 근무자들에게 특히 유용하며,
                                자세 문제를 예방하고 건강을 증진시켜 업무 효율을 높일 수 있습니다.</p>
                            <div class="whopic">
                                <div class="arrow"></div>
                                <img src="/assets/img/logo.png" class="centered" alt="image03">
                                <strong>사무실 근무자</strong>
                                <strong>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="testimonial">
                            <p>긴 공부 시간 동안 자세를 유지하는 것이 어려울 때, 이 서비스를 활용해 자세를 지속적으로 교정하고
                                시각적 알림과 개인화된 운동 루틴을 통해 학생들은 더 편안하고 건강한 학습 환경을 만들 수 있습니다</p>
                            <div class="whopic">
                                <div class="arrow"></div>
                                <img src="/assets/img/logo.png" class="centered" alt="image03">
                                <strong>학생</strong>
                                <strong>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="testimonial">
                            <p>해당 서비스를 통해 노인들의 자세를 개선하고 척추 관련 건강 문제를 예방할 수 있으며,
                                사용하기 쉬운 인터페이스와 명확한 시각적 알림을 통해 노인들도 쉽게 자세를 교정하고 건강을 유지할 수 있습니다</p>
                            <div class="whopic">
                                <div class="arrow"></div>
                                <img src="/assets/img/logo.png" class="centered" alt="image03">
                                <strong>고령층
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="section primary-section" id="about">-->
<!--        <div class="container">-->
<!--            <div class="title">-->
<!--                <h1>기능 소개 영상</h1>-->
<!--            </div>-->
<!--            <div class="row-fluid team">-->
<!--                <div class="span4" id="first-person">-->
<!--                    <div class="thumbnail">-->
<!--                        <video style="width: 320px; height: 260px" src="/assets/img/guidevideo.mp4" controls loop muted>-->
<!--                        </video>-->
<!--                        <h3>거북목 진단 가이드 영상</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="span4" id="second-person">-->
<!--                    <div class="thumbnail">-->
<!--                        <video style="width: 320px; height: 260px" src="/assets/img/guidevideo.mp4" controls loop muted>-->
<!--                        </video>-->
<!--                        <h3>자세 모니터링</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- About us section end -->
<div class="section third-section" style="background-color: #2b2b36; padding-top: 50px;">
    <div class="container centered">
        <h2 style="color: #15c6e5;">About Us</h2>
        <p style="color: #ffffff;">거북목이 현대 사회에서 흔한 문제가 되어가는 가운데, 저희는 이 문제에 직면한 수많은 사람들을 돕고자 하는 사명을 띄고 프로젝트를
            시작했습니다.<br>
            이 프로젝트의 목표는 건강한 생활 습관을 증진시키고, 거북목이라는 일상적인 문제에 대한 솔루션을 제공함으로써 수많은 사람들의 삶을 변화시키는 것입니다.
            거북목과 같은 건강 문제에 대한 인식을 높이고, 사람들이 건강한 자세 및 생활 습관을 쉽게 채택할 수 있도록 지원하며, 건강한 미래를 만들고자 합니다.
            거북목을 예방하고 개선하여 사용자들이 행복하고 건강한 삶을 살 수 있도록 끊임없이 노력하고 있습니다.</p>
    </div>
</div>

<div class="footer">

</div>

<div class="scrollup">
    <img src="/assets/img/logo6.png" alt="Logo">
    <a href="#">
    </a>
</div>

<script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<script type="text/javascript" src="js/jquery.cslider.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.js"></script>
<script type="text/javascript" src="js/jquery.inview.js"></script>
<!-- Load google maps api and call initializeMap function defined in app.js -->
<script async="" defer="" type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initializeMap"></script>
<!-- css3-mediaqueries.js for IE8 or older -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="js/app.js"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsfMJi642Tr5yVcG6OsF0PgdKJBxv38Zk&callback=console.debug&libraries=maps,marker&v=beta">
</script>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdd7525d620bba7f274e368acf8f2962&libraries=services,clusterer"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdd7525d620bba7f274e368acf8f2962"></script>

</body>
</html>