<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alert</title>
</head>
<body style="background-color: #FFFBF5;">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
  window.onload = function () {
    let msg = [[${msg}]];
    let url = "user/login";

    Swal.fire({
      title: '회원가입 성공!',
      text: msg,
      icon: 'success',
      iconColor: '#6AC3FB', // 원하는 아이콘 색상으로 변경
      confirmButtonColor: '#656579'
    }).then(function () {
      // 페이지 이동을 1초(1000 밀리초) 후에 실행
      setTimeout(function () {
        location.href = url;
      }, 1500);
    });

  };
</script>
</body>
</html>
