<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IChartMapper">

    <insert id="insertData" parameterType="ChartDTO">
        INSERT INTO CHART
        (USER_ID,
         DATE,
         WEEK,
         NORMAL,
         ABNORMAL,
         TOTALTIME)
        VALUES (#{userId},
                NOW(),
                DAYNAME(NOW()),
                #{normal},
                #{abnormal},
                #{totalTime})
            ON DUPLICATE KEY UPDATE
            WEEK = VALUES(WEEK),
            NORMAL = VALUES(NORMAL),
            ABNORMAL = VALUES(ABNORMAL);
    </insert>

    <select id="getData" resultType="ChartDTO">
        SELECT
            DATE(DATE) AS dateOnly,
            SUM(NORMAL) AS totalNormal,
            SUM(ABNORMAL) AS totalAbnormal,
            SUM(TOTALTIME) AS TOTALTIME
        FROM
            CHART
        WHERE
            DATE(DATE) = CURDATE()
          AND USER_ID = #{userId}
        GROUP BY
            dateOnly
    </select>

    <select id="getWeek" resultType="ChartDTO">
        SELECT
            DAYNAME(DATE) AS weekday,
            SUM(NORMAL) AS totalNormal,
            SUM(ABNORMAL) AS totalAbnormal
        FROM
            CHART
        WHERE
            DATE >= CURDATE() - INTERVAL 7 DAY
          AND USER_ID = #{userId}
        GROUP BY
            DAYOFWEEK(DATE)
        ORDER BY
            DATE;
    </select>

    <insert id="insertLineData" parameterType="LineChartDTO">
        INSERT INTO LINECHART
        (NORMAL,
         ABNORMAL,
         POSE_SEQ)
        VALUES (#{normal},
                #{abnormal},
                (SELECT MAX(POSE_SEQ) FROM CHART WHERE USER_ID = #{userId}))
            ON DUPLICATE KEY UPDATE
                        NORMAL = VALUES(NORMAL),
                        ABNORMAL = VALUES(ABNORMAL);
    </insert>
</mapper>